{% extends (craft.request.isAjax and not craft.request.isLivePreview) ? "_ajax-layout" : "_layout" %}

{% set seomaticSiteMeta = seomaticSiteMeta|merge({
  'title': siteName,
  'siteSeoTitlePlacement': ''
}) %}

{% block content %}
  <div class="o-wrapper  u-constrain">
    <h1 class="o-heading">ThreeJS</h1>
  </div>

{% endblock %}
