/* =======================
   Settings/Colors
   ======================= */

$colors: (
  white: #ffffff,
  black: #000000,
  dark-grey: #222222,
);

$base-text-color-dark: map-get($colors, 'black');
$base-text-color-light: map-get($colors, 'white');
