/* =======================
   Tools/Aliases
   ======================= */

$unit:             $inuit-global-spacing-unit;
$unit-tiny:        $inuit-global-spacing-unit-tiny;
$unit-small:       $inuit-global-spacing-unit-small;
$unit-large:       $inuit-global-spacing-unit-large;
$unit-huge:        $inuit-global-spacing-unit-huge;
$unit-gigantic:    $inuit-global-spacing-unit-huge * 2;
