/* =======================
   Tools/Fonts
   ======================= */

@mixin font-weight($font-weight) {
  @if ($font-weight == "thin")          { font-weight: 100; }
  @if ($font-weight == "ultra-light")   { font-weight: 200; }
  @if ($font-weight == "light")         { font-weight: 300; }
  @if ($font-weight == "normal")        { font-weight: 400; }
  @if ($font-weight == "medium")        { font-weight: 500; }
  @if ($font-weight == "semi-bold")     { font-weight: 600; }
  @if ($font-weight == "bold")          { font-weight: 700; }
  @if ($font-weight == "ultra-bold")    { font-weight: 800; }
  @if ($font-weight == "heavy")         { font-weight: 900; }
}

@mixin font-family($font-family) {
}

@mixin font-size($args...) {
  @include inuit-font-size($args...);
}

@mixin icon-styles {
  display: inline-block;
  font: normal normal normal 14px/1 "Black Tie";
  font-size: inherit;
  vertical-align: -14.28571429%;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transform: translate(0,0);
}
