/* =======================
   Utilities/Colors
   ======================= */

@each $color, $value in $colors  {
  .u-bg-#{$color} {
    background-color: $value !important;
  }
}

.u-bg-transparent {
  background-color: transparent;
}

@each $color, $value in $colors  {
  .u-color-#{$color} {
    color: $value !important;
  }
}


.u-equal-height {
  padding-bottom: 99999px;
  margin-bottom: -99999px;
}
